# Python Lists and Tuples

- Lists are defined using square brackets [ ].Elements stored in a list are separated through a comma. Unlike in arrays, Lits can contain elements of sifferents data type.
- Tuples are defined using parenthesis (). Elements stored in a tuple are immutable. They cannot be changed and are separated by a comma. If we want to delete an element we only have to delete the entire tuple using del statement.

In [4]:
#Accessing elements in a list

list_cars = ['Mazda','BMW','Audi','Forester','Isuzu']
list_model_year = [2020,2021,2023,2019,2018]
print(list_cars)
print(list_model_year)

# Concatenation of list_cars and list_model_year in a single list

Car_model = list_cars + list_model_year
print(Car_model)

['Mazda', 'BMW', 'Audi', 'Forester', 'Isuzu']
[2020, 2021, 2023, 2019, 2018]
['Mazda', 'BMW', 'Audi', 'Forester', 'Isuzu', 2020, 2021, 2023, 2019, 2018]

In [6]:
#Accessing elements in a tuple

tuple_cars = ('Mazda','BMW','Audi','Forester','Isuzu')
tuple_model_year = (2020,2021,2023,2019,2018)
print(tuple_cars)
print(tuple_model_year)

# Concatenation of tuple_cars and tuple_model_year in a single list

Car_model = tuple_cars + tuple_model_year
print(Car_model)

('Mazda', 'BMW', 'Audi', 'Forester', 'Isuzu')
(2020, 2021, 2023, 2019, 2018)
('Mazda', 'BMW', 'Audi', 'Forester', 'Isuzu', 2020, 2021, 2023, 2019, 2018)

In [9]:
#Deleting an element in list using the Car_model

list_cars = ['Mazda','BMW','Audi','Forester','Isuzu']
list_model_year = [2020,2021,2023,2019,2018]
Car_model = list_cars + list_model_year

#We want to delete Isuzu and year 2018 using .remove()

Car_model.remove('Isuzu')
print(Car_model)

#We can also delete elements using the del statement

del Car_model[8]
print(Car_model)

['Mazda', 'BMW', 'Audi', 'Forester', 2020, 2021, 2023, 2019, 2018]
['Mazda', 'BMW', 'Audi', 'Forester', 2020, 2021, 2023, 2019]

In [10]:
#Updating a list 

list_cars = ['Mazda','BMW','Audi','Forester','Isuzu']
list_model_year = [2020,2021,2023,2019,2018]
Car_model = list_cars + list_model_year

#We want to update Benz from Isuzu into our list using index

Car_model [4] = 'Mercedes Benz'
print(Car_model)

#We can also update elements using insertion method
#We pass the index whether we want to add the element
#Using .insert() method we only increase elements in a list not replacing them

Car_model.insert(8, 2022)
print(Car_model)

['Mazda', 'BMW', 'Audi', 'Forester', 'Mercedes Benz', 2020, 2021, 2023, 2019, 2018]
['Mazda', 'BMW', 'Audi', 'Forester', 'Mercedes Benz', 2020, 2021, 2023, 2022, 2019, 2018]

In [14]:
#Using the basic operations of membership and iteration in lists

#Iteration through a list

list_cars = ['Mazda','BMW','Audi','Forester','Isuzu']
for car in list_cars:
    print(car)
    
#Membership in a list
#output true if it exists
'Forester' in list_cars 

#print false if it doesn't exist
'Nissan' in list_cars

Mazda
BMW
Audi
Forester
Isuzu

False

In [ ]:
#Using the basic operations of membership and iteration in tuples

#Iteration through a list

list_model_year = [2020,2021,2023,2019,2018]
for car in list_model_year:
    print(car)
    
#Membership in a list
#output true if it exists
  2024 in list_model_year 

#print false if it doesn't exist
 in list_model_year