## Python - Arrays

We can carry basic operations in array such as:
- Traverse - we can print all the elements in a given array
- Insert - we can add elements into the array
- Update - we can replace an element at a given index with another element
- Search - we can look whether an element exist in a given array
- Delete - we can remove certain elememts from the array

The basic syntax for working with python array: 
- First import the module
- Second create a variable to store your elements and specify the typecode

arrayName = array(typecode,[array elements])

In [4]:
#To work with array we have to import its module

from array import *

In [5]:
#we are creating an array to traverse the elements

array1 = array('i', [10,20,30,40,50])

for x in array1:
   print(x)

10
20
30
40
50

## 
### The below code will give an error. We cannot use array keyword to reference strings

In [6]:
#Lets perform the basic operations of an array

fruits = array("Apple","Bananas","Kiwi","Watermelon","Ovacado")
for fruit in fruits:
    print(fruit)

TypeError: array() takes at most 2 arguments (5 given)

### We can correct the code above by removing the  array method

In [10]:
fruits = ["Apple","Bananas","Kiwi","Watermelon","Ovacado"]
for fruit in fruits:
    print(fruit)

Apple
Bananas
Kiwi
Watermelon
Ovacado

 - We can add an element "Mango" to the list using .insert() method
 - The insert method receives to parameters (index,element to be added)

In [11]:
fruits = ["Apple","Bananas","Kiwi","Watermelon","Ovacado"]
fruits.insert(1,"Mango" )
for fruit in fruits:
    print(fruit)

Apple
Mango
Bananas
Kiwi
Watermelon
Ovacado

- We can also search across the array to check whether certain elements exists
- We can use .index()
- The output of the array is the index where the element is stored

In [12]:
fruits = ["Apple","Bananas","Kiwi","Watermelon","Ovacado"]
kiwi_index = fruits.index("Kiwi")
print(kiwi_index)

#Trying to access an element not in the list it pops an error
fruits = ["Apple","Bananas","Kiwi","Watermelon","Ovacado"]
fruit_index = fruits.index("grapes")
print(fruit_index)

2

ValueError: 'grapes' is not in list

- We can also update the elements in the array
- We can replace elements at certain positions with others

In [13]:
#Lets replace elememt at index four with Mangoes and print

fruits = ["Apple","Bananas","Kiwi","Watermelon","Ovacado"]
fruits[4] = "Mangoes"
for fruit in fruits:
    print(fruit)

Apple
Bananas
Kiwi
Watermelon
Mangoes

- We can also delete certain elements in the array using .remove() method

In [14]:
#Lets remove watermelon from the element  and print

fruits = ["Apple","Bananas","Kiwi","Watermelon","Ovacado"]
fruits.remove("Watermelon")
for fruit in fruits:
    print(fruit)

Apple
Bananas
Kiwi
Ovacado

## Working with integers

- We will create an array and then perform the TIDSU operartions
- we have several typecode used in arrays:

       b - represents signed integer of size 1 byte
       B - represents unsigned integer of size 1 byte
       c - represents character of 1 byte
       i - represents signed integer of size 2 bytes
       l - represents unsigned integer of 2 bytes
       f - represents floating point of size 4 bytes
       d - represents floating point of size 8 bytes

In [15]:
#Lets import the array module

from array import *

In [17]:
#create an element array of one byte
#we will use the typecode 'i' to allow us to use  only positive integer


IncomeArray = array('i',[5000,8500,4000,2500,1000])

#Lets traverse the array to print the elements

for income in IncomeArray:
    print(income)

5000
8500
4000
2500
1000

In [18]:
#Lets add an elemet to the array
#The element is added at the fifth index

IncomeArray.insert(5,10000)
for income in IncomeArray:
    print(income)

5000
8500
4000
2500
1000
10000

In [22]:
#Lets search an element to check whether it exists
#It will pop an error saying that the referenced index is not in the array

index = IncomeArray.index(1500)
print(index)

ValueError: array.index(x): x not in array

In [23]:
# lets update an element at a certain position
#We have updated the element in position 1 to 9000

IncomeArray[1] = 9000
for income in IncomeArray:
    print(income)

5000
9000
4000
2500
1000
10000

In [24]:
# lets delete an element from the array 
# We want to remove the least elememt from the array and print

IncomeArray.remove(2500)
for income in IncomeArray:
    print(income)

5000
9000
4000
1000
10000